<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.uade.tesis">

    <uses-feature android:name="android.hardware.camera"/>

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".commons.MainActivity"
                  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Activities -->
        <activity
            android:name=".evaluated.DecoderActivity"
            android:launchMode="singleInstance"/>

        <activity
            android:name=".evaluated.ExamWebViewActivity"
            android:configChanges="orientation|screenSize"/>

        <activity android:name=".evaluator.assignments.AssignmentsActivity"/>
        <activity android:name=".evaluator.students.StudentsActivity"
            android:launchMode="singleInstance"/>
        <activity android:name=".evaluated.EvaluatedCongratsActivity"
                  android:launchMode="singleInstance"/>
        <activity android:name=".evaluated.EvaluatedMenuActivity"/>
        <activity android:name=".evaluator.EvaluatorLogInActivity"/>
        <activity android:name=".evaluator.ResponseActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".evaluator.CreateAccountActivity"/>
        <activity android:name=".evaluator.AnswersActivity"/>
        <activity android:name=".evaluator.GradeActivity"/>

    </application>

</manifest>